@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --font-Rubik: "Rubik", sans-serif;
  --gradient1: linear-gradient(hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  --gradient2: linear-gradient(
    220deg,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  --text-pale-violet: hsl(276, 100%, 81%);
  --text-moderate-violet: hsl(276, 55%, 52%);
  --text-desaturated-dark-violet: hsl(271, 15%, 43%);
  --text-grayish-blue: hsl(206, 6%, 79%);
  --text-very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --text-dark-grayish-violet: hsl(270, 7%, 64%);
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Background */
.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  z-index: 1;
}

/* Background Shapes */
.background::before,
.background::after {
  content: "";
  position: absolute;
  z-index: -1; /* Moves behind everything */
  border-radius: 255px;
}

/* Left Shape */
.background::after {
  left: -95px;
  width: 488px;
  height: 90vh;
  background: var(--gradient2);
  border-radius: 0 0 188px 188px;
  border-bottom-right-radius: 255px;
  border-bottom-left-radius: 220px;
}

/* Right Shape */
.background::before {
  display: block;
  right: -180px;
  width: 488px;
  height: 85vh;
  bottom: 0%;
  background: #f9f4fa;
  border-radius: 188px 0 0 0;
  border-top-right-radius: 255px;
  border-top-left-radius: 220px;
}

/* Title */
.title {
  font-family: var(--font-Rubik);
  font-weight: 700;
  font-size: 2rem;
  color: hsl(271, 36%, 24%);
  z-index: 2; /* Ensures text appears in front */
  position: relative;
}
.description {
  z-index: 2;
  position: relative;
  font-family: var(--font-Rubik);
  font-weight: 400;
  font-size: 1rem;
  color: hsl(271, 36%, 24%);
}
/*phone design  */
.notch {
  position: absolute;
  top: 0; /* Stick to the top */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  width: 129px;
  height: 28px;
  background: rgb(255, 255, 255); /* Dark notch color */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
/* الهاتف العام */
.phoneContainer {
  position: relative; /* Ensure child absolute elements stay inside */
  width: 247px;
  height: 510px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding: 10px;
}
.icon {
  font-size: 14px;
  color: #ffffff; /* لون الأيقونة */
  transition: color 0.3s ease-in-out;
  margin-bottom: 4px;
}
/* الهيدر */
.header {
  background: var(--gradient2);
  color: white;
  display: flex;
  align-items: flex-end;
  width: 227px;
  height: 66px;
  padding: 10px;
  border-radius: 18px 18px 0 0;
}
.avatar {
  width: 22px;
  height: 22px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 7px;
  margin-left: 5px;
}
.userInfo {
  display: flex;
  flex-direction: column;
}
.name {
  font-family: var(--font-Rubik);
  font-size: 10px;
  font-weight: 500;
}
.status {
  font-family: var(--font-Rubik);
  font-size: 10px;
  font-weight: 500;
  color: #d89eff;
}

.menu {
  margin-left: auto;
  font-size: 15px;
  cursor: pointer;
}

/* المحادثة */
.chatContainer {
  flex: 1;
  padding: 10px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f4f2f6;
}

/* الرسائل */
.message {
  padding: 10px;
  max-width: 160px;
  margin-bottom: 8px !important;
  font-size: 10px;
  line-height: 1;
  font-weight: 400;
  color: hsl(276, 55%, 52%);
  background: #ede5f4;
  border-radius: 10px 10px 10px 0;
  -webkit-border-radius: 10px 10px 10px 0;
  font-family: var(--font-Rubik);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.sent {
  color: hsl(271, 15%, 43%);
  align-self: flex-end;
  background: #fff;
  border-radius: 10px 10px 0 10px;
  -webkit-border-radius: 10px 10px 0px 10px;
}

/* الصور */
.imageGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 140px;
  justify-content: space-between;
  align-self: flex-end;
  margin-bottom: 10px;
}

.dogImage {
  max-width: 40px;
  max-height: 40px;
  border-radius: 10px;
  object-fit: cover;
}

/* الخيارات */
.option {
  position: relative;
  display: flex;
  max-width: 160px;
  height: 32px;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  font-size: 8px;
  color: white;
  font-weight: 400;
  border-radius: 11px 11px 11px 3px;
  -webkit-border-radius: 11px 11px 11px 3px;
  margin-bottom: 8px;
  font-family: var(--font-Rubik);
}

.circle {
  display: inline-block;
  height: 12px;
  margin-right: 10px;
  width: 12px;
  border: 1px solid hsl(289, 100%, 72%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  flex-shrink: 2px;
}

.price {
  position: absolute;
  right: 10px;
  font-weight: 500;
  font-size: 12px;
}
/* إدخال النص */
.inputContainer {
  padding: 6px;
  background-color: #f4f2f6;
  border-radius: 0 0 25px 25px;
  align-items: center;
  align-self: stretch;
}
.inputContainerB {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  padding: 2px;
  background-color: #ffffff;
  border-radius: 25px 25px 25px 25px;
}
.input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.sendButton {
  background: #3e2753;
  color: white;
  display: flex;
  width: 14px;
  height: 14px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 6px;
  margin-right: 5px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-left: 170px;
}
.headerT {
  text-align: left;
  color: hsl(271, 36%, 24%);
  font-weight: 500;
  font-size: 38.4px;
  z-index: 2; /* Ensures text appears in front */
  font-family: var(--font-Rubik);
  margin-bottom: 0.5rem;
}
.PP {
  margin-top: 1rem;
  padding: 0;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  display: inline-block;
  z-index: 2; /* Ensures text appears in front */
  font-family: var(--font-Rubik);
  color: hsl(270, 7%, 64%);
  font-size: 16px;
}
/* استجابة الهاتف */
@media (max-width: 768px) {
  .background::after {
    content: "";
    position: absolute;
    width: 190px;
    height: 500px;
    top: 0%;
    left: 0;
    border-radius: 0 0 188px 0;
    -webkit-border-radius: 0 0 188px 0;
  }
  .background::before {
    display: none;
  }
  .content {
    position: absolute;
    bottom: -200px; /* Initially hide below viewport */
    margin-left: 0px;
    margin-bottom: 16px;
    width: auto;
  }
  .container {
    flex-direction: column-reverse; /* Reverse order on mobile */
  }
  .headerT {
    text-align: center;
  }
  .PP {
    text-align: center;
    padding: 16px 35.2px;
    margin-bottom: 16px;
  }
}
