@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --Raleway: "Raleway", sans-serif;
}
.container {
  display: flex;
  padding: 65px 80px 80px 80px;
  flex-direction: column;
  align-items: center;
  gap: 86px;
}

.header {
  font-family: var(--Raleway);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 58px;
  list-style-type: none;
}
.li {
  cursor: pointer;
  font-size: 16px;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  font-family: var(--Raleway);
  padding-top: 80px;
}
.h1 {
  font-size: 39px;
  font-weight: 800;
  line-height: 1.4;
  text-align: left;
  color: #0c074b;
}
.br {
  display: none;
}
.p {
  font-size: 18px;
  font-weight: 500;
  line-height: inherit;
  text-align: left;
  color: #0c074b;
}
.input {
  display: flex;
  border-radius: 4px;
  border: 2px solid #000000;
  width: 320px;
  height: 45px;
  font-size: 20px;
  padding-left: 20px;
  opacity: 0.5;
}
.input1 {
  display: flex;
  border-radius: 4px;
  border: 2px solid #000000;
  width: 480px;
  height: 50px;
  font-size: 20px;
  padding-left: 20px;
  opacity: 0.5;
  background-color: #fff;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.inputContainer1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  color: red;
  font-size: 14px;
}
.inputError {
  border: 2px solid red; /* إطار أحمر عند الخطأ */
  background-color: #ffe6e6; /* خلفية خفيفة باللون الأحمر */
}
.btn {
  display: flex;
  width: 200px;
  height: 45px;
  border-radius: 4px;
  border: none;
  background-color: #2f65f9;
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.thing {
  max-width: 50%;
}
.thing1 {
  width: 540px;
  height: 400px;
}
.background {
  background-position-y: bottom;

  background-image: url("../../../assets/bg-curve-desktop.svg");
  background-size: 100% auto; /* تمتد بعرض الشاشة مع الحفاظ على التناسب */
  background-repeat: no-repeat;
  width: 100vw; /* يمتد على كامل عرض الشاشة */
  height: 25vh; /* يمتد بنسبة من ارتفاع الشاشة */
  max-height: 200px; /* الحد الأقصى للارتفاع لمنع التشوه */
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 33px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 355px;
  height: 215px;
}
.ps {
  font-size: 13px;
  font-weight: 500;
}
.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.detailsCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.name {
  font-size: 10px;
  font-weight: 700;
  line-height: 1.4;
  text-align: left;
  color: #0c074b;
}
.title {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  color: #0c074b;
}
.avatarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.between {
  background-color: #575989;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 300px;
}
.footer {
  display: flex;
  gap: 28px;
  background-color: #07043b;
  color: #ffffff;
  flex-direction: column;
  padding: 90px;
  font-family: var(--Open-Sans);
  font-size: 10px;
  font-weight: 200;
  position: relative;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 200px;
}
.loc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon {
  width: 20px;
  height: 20px;
}
.icons {
  display: flex;
  gap: 28px;
  align-items: center;
  justify-content: center;
}
.iconS {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 5px;
}
.iconS:hover {
  cursor: pointer;
  color: #6a98ff;
  border-color: #6a98ff;
}
.log2 {
  color: #000000;
  display: flex;
  align-items: center;
  width: 15%;
  filter: brightness(0) invert(1);
}
.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.det {
  display: flex;
  flex-direction: row;
  gap: 26px;
  font-size: 16px;
}
.none {
  text-decoration: none;
  color: #fff;
}
.stat {
  font-weight: 200;
  width: max-content;
}
.stat:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(37, 103, 161);
}
.btn1 {
  display: flex;
  width: 200px;
  height: 45px;
  border-radius: 4px;
  border: none;
  background-color: #2f65f9;
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}
.btn:hover,
.btn1:hover {
  cursor: pointer;
  background-color: #6a98ff;
}
.hover:hover {
  cursor: pointer;
  color: #78decd;
}
.link {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: green;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.linkImage {
  width: 30px;
  height: 30px;
}
@media (max-width: 768px) {
  .container {
    padding: 25px;
    gap: 97px;
  }
  .btn1 {
    width: 240px;
    height: 30px;
  }
  .content {
    align-items: center;
    padding-top: 0px;
  }
  .logo {
    width: 80px;
    height: 25px;
  }
  .ul {
    gap: 20px;
  }
  .stat {
    font-weight: 200;
  }
  .log2 {
    color: #000000;
    display: flex;
    align-items: center;
    width: 50%;
    filter: brightness(0) invert(1);
  }
  .group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
  .li {
    font-size: 13px;
  }
  .main {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
  .thing {
    max-width: 93%;
  }
  .thing1 {
    max-width: 93%;
    max-height: fit-content;
  }
  .inputContainer {
    flex-direction: column;
  }
  .inputContainer1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .input1 {
    width: 240px;
    height: 30px;
  }
  .nonebr {
    display: none;
  }
  .card {
    width: 80%;
    height: 60%;
  }
  .h1 {
    font-size: 25px;
    text-align: center;
    display: block;
  }
  .p {
    text-align: center;
    font-size: 16px;
  }
  .br {
    display: block;
  }
  .btn {
    min-width: 320px;
  }
  .details {
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    gap: 30px;
  }
  .footer {
    flex-direction: column;
    padding: 120px 50px 50px 40px;
  }
  .between {
    flex-direction: column;
    gap: 40px;
  }
  .background {
    background-image: url("../../../assets/bg-curve-mobile.svg");
  }
}
